<div class="container" style="max-width: 600px; margin-top: 50px">
  <div class="card">
    <div class="card-header text-center">
      <h4>Change Password</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="changePassword()">
        <!-- Current Password -->
        <div class="mb-3">
          <label for="currentPassword" class="form-label"
            >Current Password</label
          >
          <input
            type="password"
            id="currentPassword"
            class="form-control"
            [(ngModel)]="passwordData.currentPassword"
            name="currentPassword"
          />
        </div>

        <!-- New Password -->
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
            type="password"
            id="newPassword"
            class="form-control"
            [(ngModel)]="passwordData.newPassword"
            name="newPassword"
          />
        </div>

        <!-- Confirm New Password -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm New Password</label
          >
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            [(ngModel)]="passwordData.confirmPassword"
            name="confirmPassword"
          />
        </div>

        <button type="submit" class="btn btn-primary w-100">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
